<h1>EVENT BIND</h1>


<button type="button" (click)="onAddCart()">Click</button>

<h1>{{msg}}</h1>

<br>
<br>

<input type="text" value="Nahian" (keyup)="onInputData($event)">

<br>
<br>

<!-- any button -->
<button type="button" value="TV" (click)="addProduct($event,div)">TV</button>
<button type="button" value="Washing Machine" (click)="addProduct($event,div)">Washing Machine</button>
<button type="button" value="Alu" (click)="addProduct($event,div)">Alu</button>

<br>
<br>

<div #div class="div">
</div>