<div class="container bg-success p-5 text-center" >
    <h1>HOME</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptas reprehenderit amet aperiam, possimus rem sed quisquam porro saepe vero quod nam molestias praesentium aliquam a impedit architecto mollitia! Unde ullam adipisci excepturi nesciunt reprehenderit libero vitae odio dolorum possimus? Odit totam a et quod alias qui natus earum consectetur iusto. Itaque eius facere, nemo, temporibus ipsum dolor dolorem pariatur labore quod dicta, maxime quam! Officiis alias ut quia repellendus quasi maiores itaque error enim eaque sint, officia illo? Voluptas alias ducimus inventore suscipit deserunt? Similique animi rem earum molestias veniam, eos architecto dolorem, nihil adipisci eligendi sint maiores aliquid.

    </p>
</div>
