<h1 class="box" [class.hello]="true">
    Abu Rahim
</h1>

<br>
<br>


<h1 class="box" [class.hello]="false">
    Abu Rayhan
</h1>

<br>
<br>

<h1 class="box" [class.helllo]="myProperty">
    Abu Sufian
</h1>

<br>
<br>

<h1 class="box" [class]="myObj">
    Hello Sufian
</h1>

<br>
<br>

<h1 class="box" [ngClass]="'class31 class44 class555'">
    Hello Sufian
</h1>

<br>
<br>

<h1 class="box" [ngStyle]="{
    'background':'red', 
    'color':'white'
}">
    Hello Sufian
</h1>

<br>
<br>

<h1 class="box" [ngStyle]="objPro">
    good Sufian
</h1>


<br>
<br>

<h1 class="box" [ngStyle]="objPro2">
    Welcome JavaScript
</h1>

<br>
<br>

<h1 class="box" [ngClass]="onArr" [ngStyle]="objPro2">
    Welcome JavaScript
</h1>

<br>
<br>