.card {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 13px 2px rgb(0 0 0 / 23%);
}

.card-title {
    margin-bottom: 8px;
}

.card-title h2 {
    font-size: 26px;
    color: crimson;
}

.info p {
    font-size: 18px;
    color: rgb(154, 152, 152);
    font-weight: 500;
    text-align: justify;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn {
    text-align: right;
    margin-top: 10px;
}

.btn button {
    outline: none;
    background-color: crimson;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}