<div class="card">
    <div class="card-title">
        <h2>Angular is a framework</h2>
    </div>
    <div class="info">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora sed est id officia pariatur! Animi alias
            ipsam maxime deserunt ducimus atque, dolorum accusamus quisquam quidem commodi libero obcaecati voluptates
            explicabo. Dolor facere vero odit vel optio quisquam soluta quo libero! Sed distinctio, et aut, pariatur
            temporibus quam quibusdam fugit praesentium odit quasi ducimus? Quia incidunt laborum doloribus dignissimos
            nam culpa, asperiores suscipit sed, illum nulla maiores recusandae doloremque rerum! Aliquam explicabo
            repellendus, necessitatibus minus fugit repudiandae officia provident, eveniet nulla, ipsa sequi tenetur
            eaque sed quae reprehenderit expedita voluptas? Voluptas minima reprehenderit nemo corporis. Sint dolor
            architecto suscipit provident dolorum.
        </p>
    </div>
    <div class="btn">
        <button type="button">Learn More</button>
    </div>
</div>